*{
    font-family: Arial, Helvetica, sans-serif;
}
.fhather{
     max-width: 390px;
     margin: auto;
     box-shadow:    inset 0 -3em 3em rgba(0,0,0,0.1),          0 0  0 2px rgb(255,255,255),          0.3em 0.3em 1em rgba(0,0,0,0.3);
     border-radius: 2rem;
     text-align: center;
     color: rgb(1, 1, 99);
     margin-top: 2rem;
     padding: .1rem;
}
.app{
    padding-top: 1rem;
}
.temp{
   margin-right: 7rem;
   margin-left: 4rem;
   display: block;
}
#temp{
    border-radius: 8px;
    margin: auto;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 10px;
    width: 5rem;
    height: 1.5rem;
    
}
.info_ini{
  display: flex;
  justify-content: center;
  max-width: 280px; 
   border-radius:1rem ;
   margin: auto
}
.num{
    padding-left: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 200;
}
.inf{
   display: flex;
   align-items: center;
   text-align: center;
   background-color: aliceblue;
   max-width: 280px; 
   border-radius:1rem ;
   margin: auto;
  
}
nav{
    display: grid;
    text-align: center;
}
.m{
    display: flex;
    margin-right: 2rem;
}
span{
    font-weight: 700;
    color: rgba(255, 0, 0, 0.425);
}
ul{
 list-style: none;
}
li{
    display: grid;
   
    
}
.bus{
    margin-top: rem;
    padding: 2rem;
}
input{
          border-style: none;
          box-shadow:    inset 0 -3em 3em rgba(0,0,0,0.1),          0 0  0 2px rgb(255,255,255),          0.3em 0.3em 1em rgba(0,0,0,0.3);
          border-radius: 7px;
        
}
button{
    border-style: none;
    box-shadow:    inset 0 -3em 3em rgba(0,0,0,0.1),          0 0  0 2px rgb(255,255,255),          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

