*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    box-shadow:    inset 0 -100em 3em hsla(0, 23%, 95%, 0.61),
                   0 0  0 2px rgb(255,255,255), 
                   0.3em 0.3em 1em rgba(190, 186, 186, 0.952);
    max-width: 400px;
    margin: auto;
    margin-top: 1.4rem;
    border-radius: 2rem;
    font-family: Arial, Helvetica, sans-serif;
   
}
.tittle{
    display: grid;
    padding-top: 1rem;
    text-shadow: 2px 2px 4px rgba(128, 77, 215, 0.402);
    color:rgb(29, 28, 27)
}
.tittle > h1{
    color: rgb(103, 10, 10);
    font-size: 1.7rem;
    text-shadow: 2px 2px 4px rgba(6, 117, 127, 0.972);
}
.info_ini{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.num{
padding: 1rem 1rem;
}
.temp{
 padding: 0.6rem 1rem;
}
#temp{
  cursor: pointer;
}
.inf{
    display: flex;
    justify-content: center;
    max-width: 280px;
    margin: auto;
    border-radius: 1rem;
    box-shadow:    inset 0 -100em 3em hsla(0, 23%, 95%, 0.61),
    0 0  0 0px rgb(255,255,255), 
    0.3em 0.3em 1em rgba(190, 186, 186, 0.952);
    text-shadow: 2px 2px 4px rgb(72, 112, 108);
}
li{
    list-style: none;
    display: grid;
}
nav{
    padding: 0.6rem 1rem;
   }
.bus{
    padding-top: 1rem;
    height: 3.3rem;
    border-radius: 2rem;
}
input{
    border-style: none;
    border-radius: 1rem;
    box-shadow:    inset 0 -100em 3em hsla(0, 23%, 95%, 0.281), 
                    0 0  0 0px rgba(255, 255, 255, 0.356), 
                    0.3em 0.3em 1em rgba(190, 186, 186, 0.445);
   height: 1.5rem;
   width: 12rem;
   text-align: center;
   outline: none;
   writing-mode: horizontal-tb !important;
}
.button{
    box-shadow:    inset 0 -100em 3em hsla(350, 95%, 49%, 0.708),     0 0  0 0px rgba(255, 255, 255, 0.356),     0.3em 0.3em 1em rgba(190, 186, 186, 0.445);
    height: 1.5rem;
    width: 4rem;
    border-style: none;
    border-radius: 1rem;
    cursor: pointer;
    
}

@media(min-width: 700px){
    .app{
        box-shadow:    inset 0 -100em 3em hsla(0, 23%, 95%, 0.61),
                       0 0  0 2px rgb(255,255,255), 
                       0.3em 0.3em 1em rgba(190, 186, 186, 0.952);
        max-width: 650px;
        margin: auto;
        margin-top: 3rem;
        border-radius: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        height: 39rem;
        
    }
    .num{
        padding: 1rem 3rem;
        }
        .temp{
         padding: 0.5rem 1rem;
        }
        #temp{
          cursor: pointer;
        }
        .inf{
            display: flex;
            justify-content: center;
            max-width: 440px;
            margin: auto;
            border-radius: 1rem;
            box-shadow:    inset 0 -100em 3em hsla(0, 23%, 95%, 0.61),
            0 0  0 0px rgb(255,255,255), 
            0.3em 0.3em 1em rgba(190, 186, 186, 0.952);
            
        }
        li{
            list-style: none;
            display: grid;
        }
        nav{
            padding: 0.6rem 3.5rem;
           }
        .bus{
            padding-top: 1rem;
            height: 3.3rem;
            border-radius: 2rem;
        }
        input{
            border-style: none;
            border-radius: 1rem;
            box-shadow:    inset 0 -100em 3em hsla(0, 23%, 95%, 0.281), 
                            0 0  0 0px rgba(255, 255, 255, 0.356), 
                            0.3em 0.3em 1em rgba(190, 186, 186, 0.445);
           height: 2rem;
           width: 17rem;
           text-align: center;
           outline: none;
           writing-mode: horizontal-tb !important;
        }
        .button{
            box-shadow:    inset 0 -100em 3em hsla(224, 97%, 49%, 0.663),     0 0  0 0px rgba(255, 255, 255, 0.356),     0.3em 0.3em 1em rgba(190, 186, 186, 0.445);
            height: 2rem;
            width: 4rem;
            border-style: none;
            border-radius: 1rem;
            cursor: pointer;
        }
}